<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.intencity.interval"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.type.watch"/>

    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">

        <uses-library
            android:name="com.google.android.wearable"
            android:required="false"/>

        <activity
            android:name=".view.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/DismissibleTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".view.AgreementActivity"
            android:label="@string/app_name"
            android:theme="@style/DismissibleTheme"/>

        <activity
            android:name=".view.TermsActivity"
            android:label="@string/app_name"
            android:theme="@style/DismissibleTheme"/>

        <activity
            android:name=".view.IntervalActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".view.CompletedActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"/>

    </application>

</manifest>